.backdrop {
  position: absolute;

  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 4;

  background-color: #00000033;
  overflow-y: scroll;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    padding: 93px 15px 94px;
  }
}

.modal {
  background-color: getColor("font-3");
  padding: 40px;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  @media screen and (min-width: 480px) and (max-width: 767px) {
    margin-left: auto;
    margin-right: auto;
    max-width: 450px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    position: fixed;
    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 450px;
  }

  @media screen and (min-width: 1200px) {
    position: sticky;
    width: 528px;

    top: 50vh;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.modal__close {
  position: absolute;
  display: flex;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;

  justify-content: center;
  align-items: center;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: getColor("font-3");
  fill: getColor("font-1");
  transition: fill 250ms $cubic-1;

  &:hover,
  &:focus {
    fill: getColor("primary");
  }
}

.modal__header {
  font-size: 20px;
  line-height: 1.15;
  margin-bottom: 30px;

  @media screen and (max-width: 767px) {
    line-height: 1.5;
    text-align: center;
  }
}

.form {
  display: flex;
  position: relative;
  flex-direction: column;

  & + & {
    margin-top: 28px;
  }
}

.form__name {
  @extend %form__text;

  position: absolute;
  top: -18px;
  left: 0;
}

.form__image {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 12px;
  fill: currentColor;
  width: auto;
  transition: fill 250ms $cubic-1;

  .form__input:focus + & {
    fill: getColor("primary");
  }

  .form:hover & {
    fill: getColor("primary");
  }
}

.form__input {
  @extend %form__text;

  padding-left: 40px;
  width: 100%;
  color: getColor("font-1");
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  padding-top: 12px;
  padding-bottom: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms $cubic-1;

  &:hover,
  &:focus {
    border: 1px solid #2196f3;
  }

  &--textarea {
    padding-left: 16px;
    padding-right: 16px;
    resize: none;
    height: 120px;
  }
}

.checkbox {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: center;
}

.checkbox__span {
  line-height: 1.71;
  color: getColor("font-2");

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    line-height: 1.166;
  }
}

.checkbox__link {
  color: getColor("primary");
  text-decoration: underline;
}

.checkbox__icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid getColor("font-1");
  border-radius: 2px;
  margin-right: 7px;

  .checkbox__input:checked + & {
    background-color: getColor("primary");
    background-image: url(../images/Vector.svg);
    background-position: center;
    background-origin: border-box;
    background-repeat: no-repeat;
    border: transparent;
  }
}

.form-submit {
  @extend %button-main;

  margin-top: 30px;
  background-color: getColor("primary");

  &:hover,
  &:focus {
    background-color: getColor("secondary");
  }
}
