.section-one {
  background-color: getColor("bcknd-1");
  background-image: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0.3) 0%,
      rgba(0, 0, 0, 0.3) 50%,
      rgba(0, 0, 0, 0.3) 100%
    ),
    url("../images/hero/hero-480.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  padding-top: 118px;
  padding-bottom: 118px;

  @media (min-device-pixel-ratio: 2),
    (-webkit-min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url("../images/hero/hero-480@2x.jpg");
  }

  @media screen and (min-width: 768px) {
    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url("../images/hero/hero-768.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.3) 0%,
          rgba(0, 0, 0, 0.3) 50%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        url("../images/hero/hero-768@2x.jpg");
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;

    background-image: linear-gradient(
        90deg,
        rgba(0, 0, 0, 0.3) 0%,
        rgba(0, 0, 0, 0.3) 50%,
        rgba(0, 0, 0, 0.3) 100%
      ),
      url("../images/hero/hero-1600.jpg");

    @media (min-device-pixel-ratio: 2),
      (-webkit-min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: linear-gradient(
          90deg,
          rgba(0, 0, 0, 0.3) 0%,
          rgba(0, 0, 0, 0.3) 50%,
          rgba(0, 0, 0, 0.3) 100%
        ),
        url("../images/hero/hero-1600@2x.jpg");
    }
  }
}

.section-one__container {
  color: getColor("font-3");
  text-align: center;
}

.sectoin-one__header {
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (max-width: 1199px) {
    font-size: 26px;
    line-height: 1.615;
  }
}

.button-hero {
  @extend %button-main;

  margin-top: $section-padding-2;
  background-color: getColor("primary");

  &:hover,
  &:focus {
    background-color: getColor("secondary");
  }
}
