.section-four {
  @media screen and (max-width: 1199px) {
    padding-top: $section-padding-60;
    padding-bottom: $section-padding-60;
  }

  @media screen and (min-width: 1200px) {
    padding-top: $section-padding;
    padding-bottom: $section-padding;
  }
}

.section-four__header {
  @extend %section-header;

  @media screen and (max-width: 1199px) {
    font-size: 28px;
  }
}

.section-four__clients {
  display: flex;
  justify-content: center;

  @media screen and (max-width: 1200px) {
    flex-wrap: wrap;
    margin: -15px;
  }
}

.section-four__item {
  @media screen and (min-width: 480px) and (max-width: 767px) {
    min-width: calc((100% - 60px) / 2);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    min-width: calc((100% - 90px) / 3);
  }

  @media screen and (max-width: 1200px) {
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);

    &:not(:last-child) {
      margin-right: $section-padding-2;
    }
  }
}

.section-four__link {
  height: 92px;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid getColor("icon-1");
  border-radius: 4px;
  fill: getColor("icon-1");
  transition: fill 250ms $cubic-1, border 250ms $cubic-1;

  &:hover,
  &:focus {
    border: 1px solid getColor("primary");
    fill: getColor("primary");
  }
}
